<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #field-1{
            border: 1px solid red;
        }
    </style>
</head>
<body>
    {% block content %}
    <form action="{% url 'index:home' %}" method="POST">
        {% csrf_token %}
        <label for="field-1">Field 1: </label>
        <textarea name="field-1" id="field-1" cols="30" rows="10"></textarea>
        <input type="submit"/>
    </form>
    <span>output: {{ output }}</span>
    {% endblock %}
</body>
</html>